<!--Приведенный выше шаблон отображает список изображений. Он будет ис- -->
<!--пользоваться для того, чтобы возвращать результаты AJAX-запросов. В пока- -->
<!--занном выше исходном коде изображения в списке прокручиваются в цикле,-->
<!--и по каждому изображению генерируется квадратная миниатюра. Размер-->
<!--миниатюр нормализуется до 300×300 пикселов. Также используется опция-->
<!--умной обрезки smart. Данная опция указывает на то, что изображение должно-->
<!--постепенно обрезаться до требуемого размера путем удаления срезов с краев-->
<!--с наименьшей энтропией.-->

{% load thumbnail %}
{% for image in images %}
<div class="image">
    <a href="{{ image.get_absolute_url }}">
        {% thumbnail image.image 300x300 crop="smart" as im %}
        <a href="{{ image.get_absolute_url }}">
            <img src="{{ im.url }}">
        </a>
    </a>
    <div class="info">
        <a href="{{ image.get_absolute_url }}" class="title">
            {{ image.title }}
        </a>
    </div>
</div>
{% endfor %}