<!--Проверьте, чтобы ни один шаблонный тег не был разбит на несколько-->
<!--строк; Django не поддерживает многострочные теги.-->
<!--В шаблоне детальной информации отображается профиль пользовате- -->
<!--ля, а шаблонный тег {% thumbnail %} используется для вывода изображения-->
<!--профиля на странице. При этом отображается общее число подписчиков-->
<!--и ссылка, чтобы подписаться либо отписаться от пользователя. Эта ссылка-->
<!--будет использоваться для подписки/отписки от конкретного пользователя.-->
<!--Атрибуты data-id и data-action HTML-элемента <a> содержат ИД пользователя-->
<!--и первоначальное действие, которое необходимо выполнять при нажатии-->
<!--на ссылочный элемент, – follow (подписаться) либо unfollow (отписаться).-->
<!--Первоначальное действие (follow либо unfollow) зависит от того, является за- -->
<!--прашивающий страницу пользователь уже подписчиком пользователя или-->
<!--нет.-->

{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ user.get_full_name }}{% endblock %}
{% block content %}
<h1>{{ user.get_full_name }}</h1>
<div class="profile-info">
    <img src="{% thumbnail user.profile.photo 180x180 %}" class="user-detail">
</div>
{% with total_followers=user.followers.count %}
<span class="count">
<span class="total">{{ total_followers }}</span>
follower{{ total_followers|pluralize }}
</span>
<a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.
followers.all %}un{% endif %}follow" class="follow button">
    {% if request.user not in user.followers.all %}
    Follow
    {% else %}
    Unfollow
    {% endif %}
</a>
<div id="image-list" class="image-container">
    {% include "images/image/list_images.html" with images=user.images_created.all %}
</div>
{% endwith %}
{% endblock %}

{% block domready %}
var const = '{% url "user_follow" %}';
var options = {
method: 'POST',
headers: {'X-CSRFToken': csrftoken},
mode: 'same-origin'
}
document.querySelector('a.follow')
.addEventListener('click', function(e){
e.preventDefault();
var followButton = this;
// добавить тело запроса
var formData = new FormData();
formData.append('id', followButton.dataset.id);
formData.append('action', followButton.dataset.action);
options['body'] = formData;
// отправить HTTP-запрос
fetch(url, options)
.then(response => response.json())
.then(data => {
if (data['status'] === 'ok')
{
var previousAction = followButton.dataset.action;
// переключить текст кнопки и data-action
var action = previousAction === 'follow' ? 'unfollow' : 'follow';
followButton.dataset.action = action;
followButton.innerHTML = action;
// обновить количество подписчиков
var followerCount = document.querySelector('span.count .total');
var totalFollowers = parseInt(followerCount.innerHTML);
followerCount.innerHTML = previousAction === 'follow' ? totalFollowers + 1 :
totalFollowers – 1;
}
})
});
{% endblock %}

<!--Приведенный выше шаблонный блок содержит исходный код JavaScript,-->
<!--который выполняет асинхронный HTTP-запрос на подписку или отписку от-->
<!--того или иного пользователя, а также переключает ссылку подписки/отпис- -->
<!--ки. Интерфейс Fetch API используется для выполнения запроса AJAX и уста- -->
<!--новки как атрибута data-action, так и текста HTML-элемента <a> на основе-->
<!--его предыдущего значения. После завершения действия также обновляется-->
<!--отображаемое на странице общее число подписчиков.-->