<!--Это шаблон, который будет использоваться для отображения объекта Action.-->
<!--Вначале используется шаблонный тег {% with %}, чтобы извлекать вы- -->
<!--полняющего действие пользователя и связанный с ним объект Profile. Затем,-->
<!--если объект Action имеет связанный объект target, отображается изображе- -->
<!--ние объекта target. Наконец, отображается ссылка на выполняющего дей- -->
<!--ствие пользователя, глагол и объект target, если он есть.-->

{% load thumbnail %}
{% with user=action.user profile=action.user.profile %}
<div class="action">
    <div class="images">
        {% if profile.photo %}
        {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
        <a href="{{ user.get_absolute_url }}">
            <img src="{{ im.url }}" alt="{{ user.get_full_name }}"
                 class="item-img">
        </a>
        {% endif %}
        {% if action.target %}
        {% with target=action.target %}
        {% if target.image %}
        {% thumbnail target.image "80x80" crop="100%" as im %}
        <a href="{{ target.get_absolute_url }}">
            <img src="{{ im.url }}" class="item-img">
        </a>
        {% endif %}
        {% endwith %}
        {% endif %}
    </div>
    <div class="info">
        <p>
            <span class="date">{{ action.created|timesince }} ago</span>
            <br/>
            <a href="{{ user.get_absolute_url }}">
                {{ user.first_name }}
            </a>
            {{ action.verb }}
            {% if action.target %}
            {% with target=action.target %}
            <a href="{{ target.get_absolute_url }}">{{ target }}</a>
            {% endwith %}
            {% endif %}
        </p>
    </div>
</div>
{% endwith %}